
<% if session[:login] %>
<table>
<tr>
<td width="50%">
<p>
  <b>Title:</b>
  <%=h @item.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @item.description %>
</p>

<p>
  <b>Price:</b>
  <%=h @item.price.to_s+" USD" %>
</p>

<p>
  <b>Image url:</b>
  <%=h @item.image_url %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
<% else %>
<%= link_to "Home", items_path %>
<% end %>
</td>
<td>
<%= image_tag @item.image_url, :size=>'400x300' %><br>
<%= link_to 'Download', :controller=> :Items, :action=> :download, :id=> @item.id %>
</td>
</tr>
</table>